.computer__card {
    position: relative;
    margin: 10px 0px 10px 5px;
    width: 250px;
    min-height: 300px;
    max-height: 340px;
    background-color: rgb(167, 167, 167);
    border-radius: 15px;
}
.computer__image{
    border-radius: 10px 10px 0px 0px;
    width: 250px;
    height: 150px;
}
.computer__title {
    margin: 0px;
    font-size: 18px;
    text-align: center;
}
.computer__info span {
    font-size: 13px;
    font-weight: 500;
}
.computer__info {
    display: flex;
    flex-direction: column;
}
.fa-check {
    margin-left: 8px;
    margin-right: 5px;
    font-size: 12px;
}
.computer__button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 40%;
    padding: 6px 30px;
    border: none;
    border-radius: 20px;
    font-weight: 700;
}
.computer__button:hover {
    transition: 0.3s;
    background-color: #f44336;
}
.computer__card .price {
    padding: 0px 10px;
    min-width: 60px;
    white-space: nowrap;
    text-align: center;
    background-color: gray;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 20px;
    position: absolute;
    /* top: 44%; */
    /* text-decoration: line-through 1px red; */
    left: 65%;
}
hr {
    width: 100%;
}
.price-div {
    position: relative;
}
.price-div .price {
    margin-top: 138px;
}
.computer__discount__div {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 50px;
    height: 50px;
    background-color: red;
    /* color: white; */
    font-weight: 900;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    z-index: 100;
}
.newPrice {
    display: inline-block;
}
.price-div .newPrice {
    font-weight: 800;
    color: red;
}
.deletedPrice {
    text-decoration: line-through 1px black;
    font-size: 10px;
}
#deletedPrice {
    font-size: 10px;
    left: 50%;
}
#newPrice {
    font-size: 15px;
}
