.home {
    top: 0px;
    height: 700px;
    z-index: -1;
}
.home__image {
    position: absolute;
    top: 0px;
    z-index: -1;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 740px;
}
.home-buttons button {
    margin: 10px 30px 0px 0px;
    background-color: rgb(121, 0, 0);
    color: white;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 15px; 
    border: none;
    cursor: pointer;
}
.home-buttons button:hover {
    transition: 0.5s ease-out;
    background-color: rgb(255, 0, 0);
}
.titles {
    width: 600px;
    color: white;
    position: absolute;
    top: 20%;
    left: 12%;
}
.titles .first {
    font-size: 25px;
}
.titles .second {
    font-size: 15px;
}