
.all-container {
    background-color: rgb(90, 90, 90);
    background-color: rgb(209, 208, 208);
    min-height: calc(100vh - 40px - 40px);
}
.main-title {

    background-image: linear-gradient(to right, #434343 0%, black 100%); 
    text-align: center;
    color: white;
    padding: 10px;
    padding-right: 45px;
}
.choosable {
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 8px;
}
.choosable button {
    padding: 10px 60px;
    background-color: rgb(90, 90, 90);
    border: none;
    font-weight: 550;
    font-size: 17px;
    color: white;
}
.choosable button:hover {
    background-color: rgb(179, 179, 179);
}

.choosable button:first-child{
    border-radius: 20px 0px 0px 20px;
}
.choosable button:last-child {
    border-radius: 0px 20px 20px 0px;

}
.items-to-show {
    margin-top: 20px;
    display: flex;
    width: 100%;
    min-height: 83.2%;
}
.filter {
    flex: 0 0 15%;
    background-color: white;
}
.items {
    flex: 0 0 85%;
    width: 85%;
    background-color: rgb(219, 218, 218);
}
.filter h2 {
    text-align: center;
}
h4 {
    margin: 0px;
    margin-left: 8px;
    font-weight: 500;
    color: rgb(116, 116, 116);
}
.all-inputs {
    display: flex;
    flex-direction: column;
}
.all-inputs label {
    margin: 4px;
}
.items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.computer__card {
    position: relative;
    margin-left: 5px;
    margin-top: 10px;
    width: 250px;
    height: 350px;
    background-color: rgb(167, 167, 167);
}
.computer__image{
    width: 250px;
    height: 150px;
}
.computer__title {
    margin: 5px;
    text-align: center;
}
.computer__info span {
    font-size: 13px;
    display: inline-block;
    font-weight: 500;
}
.fa-check {
    margin-left: 8px;
    margin-right: 5px;
    font-size: 12px;
}
.computer__button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 40%;
    padding: 6px 30px;
    border: none;
    border-radius: 20px;
    font-weight: 700;
}
.computer__button:hover {
    transition: 0.3s;
    background-color: #f44336;
}