.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 42%;
    max-height: 45%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: white;
    color: black;
}
.form h1 {
    text-align: center;
}

.login-form .inputs {
    margin-top: 30px;
    margin-left: 40px;
}
.email {
    position: relative;
    margin-bottom: 40px;
}
.password {
    position: relative;
}
.login-form span{
    position: absolute;
    left: 0px;
    font-size: 14px;
    color: rgb(138, 138, 138);
    transform: translate(0%, +50%);
    pointer-events: none;
    transition: all 0.2s ease;
}
input:focus {
    outline: none;
}
.login-form input:focus + span{
    transform: translateY(-80%);
}
.login-form .value-there {
    transform: translateY(-80%);
} 
.email input, .password input{
    border: none;
    border-bottom: 2px solid gray;
    width: 85%;
    height: 35px;
}
.email input:focus, .password input:focus {
    border-bottom: 2px solid rgb(89, 0, 255);
    border-bottom: 2px solid #f44336;
}

.login-btn {
    text-align: center;
    position: relative;
    margin-top: 52px;
    margin-left: 23%;
    margin-bottom: 80px;
    width: 200px;
    padding: 10px 0px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    color: white;
    background-color: #444444;
}
.login-btn:hover {
    transition: 0.3s;
    background-color: rgb(89, 0, 255);
    background-color: #f44336;
    
}
.text {    
    position: absolute;
    bottom: 5px;
    left: 24%;
    text-align: center;
    font-size: 13px;
}
.text a {
    color: rgb(89, 0, 255);
    color: #f44336;
    font-weight: 600;
}
.text a:hover {
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: bold;
}
.main-error {
    text-align: center;
    color: red;
    margin-top: 30px;
    margin: 0px;
    font-weight: 700;
}
.error {
    position: absolute;
    font-size: 12px;
    margin-top: 0px;
    color: red;
    font-weight: 700;
}
.login .loader {
    color: black;
}
.login-blur {
    filter: blur(10px);
}
.login-btn:disabled{
    background-color: gray;
}