.shopping-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 65%;
    background-color: white;
    border-radius: 29px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}