.navigation {
    display: flex;
    justify-content: space-around;
    /* background-color: black; */
    color: black;
    height: 25px;
}
.Link {
    text-decoration: none;
    list-style: none;
    color: white;
}
.mainlogo {
    font-size: 25px;
    font-weight: 900;
    margin: 1px;
}
.navigation ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    cursor: pointer;
    margin: 8px;
    font-weight: 550;
    font-size: 15px;
}
.navigation ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin-top: -1px;
    transition: .4s;
}
.navigation ul li:hover::after{
  width: 100%;
}
.active {
    border-bottom: 2px solid #f44336;
}
.itlogo {
    color: red;
}
ul {
    margin: 0px;
}
.navigation .fa-solid {
    color: white;
}
.active .fa-solid{
    color: black;
}
.logout {
    color: white;
}