@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    /* background: linear-gradient(to right, #2C3E50, #000); */
    background-color: rgb(88, 88, 88);
}
.container {
    position: relative;
}
/* Navigation */
.navigation {
    display: flex;
    justify-content: space-around;
    /* background-color: black; */
    /* color: white; */
    color: white;
    height: 40px;
}
.mainlogo {
    font-size: 25px;
    font-weight: 900;
    margin: 1px;
}
.navigation ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    cursor: pointer;
    margin: 8px;
    font-weight: 550;
    font-size: 15px;
}
.navigation ul li::after {
    content: '';
    width: 0%;
    height: 1.5px;
    background: #f44336;

    display: block;
    margin-top: -3px;
    transition: .4s;
}
.navigation ul li:hover::after {
    width: 100%;
}
.itlogo {
    color: red;
}
ul {
    margin: 0px;
}


.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: white;
    color: black;
    height: 80%;
    
}
input[type="file"] {
    display: none;
}
.fa-solid {
    margin-right: 10px;
    transition: 0.3s ease-in-out;
}
.fa-solid:hover {
    transform: rotate(45deg);
}
.form h1 {
    text-align: center;
}

.inputs {
    margin-top: 40px;
    margin-left: 40px;
}
.inputs div {
    margin: 30px 0px;
}
.email {
    position: relative;
}
.password, .username, .re-password {
    position: relative;
}

.password-span, .email-span, .username-span, .repass-span{
    position: absolute;
    left: 0px;
    font-size: 14px;
    color: rgb(138, 138, 138);
    transform: translate(0%, +50%);
    pointer-events: none;
    transition: all 0.2s ease;
}
input:focus {
    outline: none;
}
input:focus + .email-span, input:focus + .password-span, input:focus + .username-span,input:focus + .repass-span {
    transform: translateY(-80%);
}
/* .value-there {
    transform: translateY(-80%); - To add with JavaScript
} */ 
.email input, .password input, .username input, .re-password input{
    border: none;
    border-bottom: 2px solid gray;
    width: 85%;
    height: 35px;
}
.email input:focus, .password input:focus, .username input:focus, .re-password input:focus {
    border-bottom: 2px solid rgb(89, 0, 255);
    border-bottom: 2px solid #f44336;
}
.copyright {
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* background: linear-gradient(to right, #2C3E50, #000); */
    color: black;

}
.copyright h1 {
    margin: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
input[type="submit"] {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 84%;
    width: 200px;
    padding: 10px 0px;
    transform: translate(-50%);
    border-radius: 20px;
    border: none;
    font-size: 18px;
    color: white;
    background-color: #444444;
}
input[type="submit"]:hover {
    transition: 0.3s;
    background-color: rgb(89, 0, 255);
    background-color: #f44336;
    
}
.text {    
    position: absolute;
    bottom: 5px;
    left: 24%;
    text-align: center;
    font-size: 13px;
}
.text a {
    color: rgb(89, 0, 255);
    color: #f44336;
    font-weight: 600;
}
.text a:hover {
    cursor: pointer;
    /* font-size: 16px; */
    font-weight: bold;
}
.avatarImg {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 120px;
    height: auto;
    border-radius: 50%;
}