.details-container {
    min-width: 65%;
    min-height: 40%;
    background-color: rgb(145, 145, 145);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 20px;
}

.edit-image-div {
    flex-basis: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.info-div {
    flex-basis: 60%;
}

.details__image {
    width: 299px;
    height: 300px;
    margin-top: 5%;
    border-radius: 20px;
}

.image__switcher {
    width: 95%;
    height: 100px;
    background-color: rgb(82, 82, 82);
    position: relative;
    margin: 30px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.image__switcher button {
    height: 100%;
    background-color: rgb(82, 82, 82);
    font-size: 20px;
    font-weight: 700;
    border: none;
}
.image__section img{
    width: 80%;
    border-radius: 10px;
}
.image__section img:hover{
    opacity: 0.6;
}
.image__switcher button:hover {
    background-color: rgb(122, 122, 122)
}

.image__switcher .image__section {
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 92%;
    height: 95%;
    overflow: hidden;
    margin: 0 auto;
}
.image__section div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-image-div .buttons {
    width: 400px;
    height: 150px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.edit-image-div .buttons button {
    /* height: 50px; */
    border-radius: 10px;
    font-size: 18px;
    border: none;
    font-weight: 700;
    padding: 10px 20px;
}


.info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.info-div h1 {
    padding: 10px 100px;
    border-radius: 20px;
    margin-top: 15px;
    text-align: center;
    width: 200px;
    background-color: white;
}
.info-div span {
    display: inline;
}
.info-div .characteristics {
    display: flex;
    justify-content: space-around;
}
.info-div .characteristics div {
    display: flex;
    /* flex-direction: column; */
}
.info-div .characteristics div span{
    margin: 10px;
    font-size: 20px;
}
.image__section .images {
    width: 100px;
    height: 90px;
}
span p {
    font-weight: 700;
    display: inline;
}
.characteristics .left{
    display: flex;
    flex-direction: column;

}
.characteristics .left span p{
    font-weight: 20px;
}
.info-div .price {
    position: relative;
    padding: 10px 120px;
    border-radius: 20px;
    font-size: 20px;
    background-color: white;
    margin-bottom: 15px;
}
.info-div .price span p{
    font-weight: 700;
    font-style: italic;
}
.info-div .price span {
    font-weight: 700;
    width: 30%;
}
.info-div .old {
    text-decoration: line-through 2px black;
    font-size: 15px;
}
.info-div .new {
    color: red;
    font-size: 25px;
    margin-left: 5px;
}
.edit-image-div .remove-btn {
    background-color: rgb(0, 190, 0);
}
.edit-image-div .buttons button:hover {
    background-color: rgb(233, 51, 51);
}
.discount-div {
    position: absolute;
    right: -25px;
    top: -25px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 50px;
}
.discount-div span {
    font-weight: 800;
    color: rgb(32, 30, 30);
}
