.add-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 560px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background-color: white;
    color: black;
    min-height: 200px;
}

.add-container h1 {
    text-align: center;
}

.choosable {
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 8px;
}

.choosable button {
    padding: 10px 40px;
    background-color: rgb(90, 90, 90);
    border: none;
    font-weight: 550;
    font-size: 17px;
    color: white;
}

.choosable button:hover {
    background-color: #f44336;
}

.choosable button:first-child {
    border-radius: 20px 0px 0px 20px;
}

.choosable button:last-child {
    border-radius: 0px 20px 20px 0px;

}
.choosable .clicked {
    background-color: #f44336;

}

.add-form .inputs {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.add-form .inputs div {
    position: relative;
    width: 100%;
    margin: 50px 0px;
}
.add-form .left-input div:first-child{
    margin-top: 0px;
}
.add-form .right-input div:first-child{
    margin-top: 0px;
}
.left-input div:last-child {
    margin-top: -20px;
}
.add-form span {
    position: absolute;
    left: 0px;
    font-size: 14px;
    color: rgb(138, 138, 138);
    transform: translate(0%, +50%);
    pointer-events: none;
    transition: all 0.2s ease;
}

.add-form input:focus {
    outline: none;
}

.add-form input:focus+span {
    transform: translateY(-80%);
}
.add-container .value-there {
    transform: translateY(-80%);
} 
.add-form .inputs input{
    border: none;
    border-bottom: 2px solid gray;
    width: 95%;
    height: 35px;
}
.add-form .inputs input:focus {
    border-bottom: 2px solid rgb(89, 0, 255);
    border-bottom: 2px solid #f44336;
}
.add-btn {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 90%;
    width: 200px;
    padding: 10px 0px;
    transform: translate(-50%);
    border-radius: 20px;
    border: none;
    font-size: 18px;
    color: white;
    background-color: #444444;
}
.add-btn:hover {
    transition: 0.3s;
    background-color: rgb(89, 0, 255);
    background-color: #f44336;
    
}
.add-container .images {
    position: absolute;
    top: 80%;
    right: 2%;
}
.add-container .mini-img {
    margin: 2px;
    width: 50px;
    height: 50px;
}
.add-form .main-error {
    text-align: center;
    color: red;
    margin: 0px;
    font-weight: 700;
}
.add-form .error {
    position: absolute;
    font-size: 12px;
    margin-top: 0px;
    color: red;
    font-weight: 700;
}
