.copyright {
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* background: linear-gradient(to right, #2C3E50, #000); */
    color: black;

}
.copyright h1 {
    margin: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}
.copyright .cookie__access {
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    padding: 1px 30px;
    border-radius: 10px;
    /* font-style: italic; */
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 60px;
}

.copyright p {
    font-weight: 700;
}