.top-discounts {
    width: 100%;
    background-color: rgb(180, 179, 179);
}

.top-discounts .title {
    padding-top: 20px;
}

.top-discounts .title h1,
.top-discounts .title h4 {
    margin: 0px;
    text-align: center;
}

.top-discounts .title h4 {
    margin: 0px;
    text-align: center;
    font-style: italic;
    color: rgb(49, 48, 48);
}

.discounts-section {
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    min-height: 400px;
    background-color: gray;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.discounts-section div {
    border-radius: 15px;
}

.discounts-section .computer__image {
    border-radius: 15px 15px 0px 0px;
}

.discounts__place {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.discounts__place .computer__card {
    min-height: 350px;
}

.switchers {
    border: none;
    width: 3%;
    cursor: pointer;
    height: 100%;
    font-size: 20px;
    font-weight: 900;
    transition: 0.5s ease-in-out;
}

.switchers:hover {
    background-color: gray;
}

@media screen and (max-width: 875px) {
    .top-discounts {
        min-height: 600px;
    }

    .discounts__place {
        flex-direction: column;
    }
    .discounts-section {
        width: 60%;
        overflow: visible;
    }
}